@use './styles/theme' as theme;

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: theme.$background-color-1;
  height: 100vh;
  color: theme.$text-color-1;
  font-family: Inter, sans-serif;
}