@use '@/styles/variables' as *;

.page {
  padding: 24px;

  @include mobile {
    padding: 12px;
  }
}

.pageTitle {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px;
  color: var(--color-text-primary);

  @include mobile {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
