@use '../../styles/theme' as theme;

.calendarWrapper {
  position: relative;
  width: 90%;
}

.calendarHeader {
  background-color: theme.$color-dark-side-bar; // header background
  color: theme.$text-color-1; // arrows color
}
