@use '../../styles/theme' as theme;

.calendarWrapper {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.calendarHeader {
  background-color: theme.$color-dark-side-bar; // header background
  color: theme.$text-color-1; // arrows color
}
