// side bar
$color-dark-side-bar: #06131d;

// text
$color-inactive-text: #97a6be;
$text-color-1: #f2f2f2;
$text-green-color-1: #a3db01;

// background
$background-color-1: #0f2231;
$background-color-2: #A1C4D8;
$background-color-3: #F2A900;
$background-color-4: #4c8bf7;

// calendar
$inactive-days-color: rgba(151,166,190,0.5);

// header
$header-background: #143044;

// button
$active-button-1: #4c8bf7;

// border
$border-1: #6cc19d;
$border-2: #ffcc66;