@use './theme' as theme;

// Глобальные стили для календаря Ant Design
.ant-picker-calendar {
  .ant-picker-content {
    thead {
      tr {
        th {
          background-color: theme.$color-dark-side-bar !important; // строка дней недели
          color: theme.$text-color-1 !important; // текст дней недели
          border: none !important;
        }
      }
    }
    
    tbody {
      tr {
        td {
          background-color: theme.$color-dark-side-bar !important; // активные дни месяца
          border: none !important;
        }
      }
    }
  }
}

// Максимальный приоритет для удаления границ у календаря
html body .ant-picker-calendar * {
  border-top: none !important;
}
